.App {
    text-align: center;
}

.app-title {
    text-align: center;
    color: lightblue;
    font-size: 50px;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border: 5px solid lightblue;
    border-radius: 25px;
}

table {
    border-collapse: collapse;
    width: 99%;
    text-align: center;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
    font-size: 30px;
    font-family: "Calibri Light";
}

th {
    background-color: rgb(117, 201, 250);
}

td {
    background-color: rgb(205, 235, 253);
}

.upload-button {
    background-color: rgb(117, 201, 250);
    border: 1px solid transparent;
    padding: 10px;

    font-family: "Calibri Light";
    font-size: 30px;
    font-weight: bold;

    border-radius: 25px;
    width: 400px;
    margin: 10px;
}

.upload-button:hover {
    background: rgb(67, 181, 247);
}

.upload-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(167, 221, 252);
}

.control-button {
    font-family: "Calibri Light";
    background-color: rgb(117, 201, 250);
    border: 1px solid transparent;
    padding: 10px;
    font-size: 15px;
    border-radius: 25px;
    width: 100px;
    margin: 5px;
}

.control-button:hover {
    background: rgb(67, 181, 247);
}

.control-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(167, 221, 252);
}